.box1{
    background-color: #00ffff;
    height: 120px;
}

.box2{
    background-color: #00ffff;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: rgb(56, 196, 231);
}

.textos{
   color: #00ffff;
}