.caixa{
    background-color: #00ffff;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #00ffff;
    color: white !important;
}

.postagens{
    background-color: #00ffff;
}